body{
    margin: 0;
    background-color: paleturquoise;
}

nav{
    box-shadow: 0px 10px 10px -8px #E5E5E3;
    width: 100%;
    min-height: 70px;
    top: 0;
    background-color: rgb(199, 74, 199);
}

nav > h1{
    float: left;
    padding: 10px 0px 0px 10px; 
}

h1{
    color: black;
    font-size: 30px;
    display: inline-block;
    padding-right: 0%;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    padding-left: 30%;
    padding-right: 10%;
}

ul li{
    display: inline-block;
    float: left;
}

ul li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
    vertical-align:middle;
}

li a:hover {
    color: lightgreen !important;
    background-color: lightcoral;
}

li a.active {
    color: black !important;
    background-color: plum;
}

.con_img{
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
 }

#reg{
    margin: 10px 10px 10px 10px;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

p{
    color: lightcoral;
    margin-left: 5%;
}

button{
    background-color: rgb(241, 138, 219);
    color: white;
    padding: 14px 20px;
    margin-left: 4.5%;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 5px;
}

input[type="radio"]{
    margin-left: 5%;
}

input[type=text],input[type=number],input[type=password]{
    width: 90%;
    padding: 12px 20px;
    margin-left: 60px;
}

header {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
 }

img{
    width: 100%;
    height: auto;
}

article  {
    margin-left: 5%;
    margin-top: 10px;
    display: inline-block;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    width:20%;
    min-height: 70px;
    top: 0;
    background-color: white;
    margin-right: 5%;
}

article div.name {
    margin-top: 20px;
    background-color: plum;
    color: white;
    height:200px;
}

article div.detail{
    text-align: center;
}

div.name > h1 {
    text-align: center;
    padding: 10%;
    font-size: 40px;;    
}                       

article div.name{
    text-align: center;
}

footer{
    height: 40px;
    left: 0px;
    right: 8px;
    bottom: 0px;
    width: 100%;
    background: lightskyblue;
    color: black;
    text-align: center;
}

#screen {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    margin-top: 30px;
    height: 250px;
    background-color: #ffffff;
}